.wrapper {
  background-color: rgba(12, 12, 12, 0.7);
  min-height: 200px;
  width: 80%;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin-top: 40px;
}

.title {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.pot {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  flex: 1;
}
.paragragh {
  font-size: 1.0rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  flex: 1;
}
.paragragh1 {
  font-size: 1.0rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  flex: 1;
}


.btn {
  background-color: #1e2128;
  width: 50%;
  display: flex;
  justify-content: center;
  place-self: center;
  color: #fff;
  padding: 8px 1px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 1.5rem;
  font-weight: bolder;
  font-size: 1.5rem;
  border: 1px solid #fff;
}

.recentWinnerTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.winner {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  color: #3c4fff;
}

.textAccent {
  color: #3c4fff;
}

.drawWinnerBtn {
  background-color: #242833;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 20%;
  border: 1px solid #3c4fff;
  border-radius: 1.2rem;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
  color: #3c4fff;
}
