.wrapper {
  background-color: rgba(12, 12, 12, 0.7);
  min-height: 200px;
  width: 80%;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin-top: 40px;
}

.title {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.pot {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  flex: 1;
}
.paragragh {
  font-size: 1.0rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  flex: 1;
}
.paragragh1 {
  font-size: 1.0rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  flex: 1;
}


.btn {
  background-color: #0b4e85;
  width: 30%;
  display: flex;
  justify-content: center;
  place-self: center;
  color: #fff;
  padding: 8px 1px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 0.9rem;
  font-size: 1.2rem;
  border: 2px solid #d82575;
}


.paragraghbtn {
  font-size: 1.0rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  flex: 1;
    background-color: #0b4e85;
    width: 30%;
    display: flex;
    justify-content: center;
    place-self: center;
    color: #fff;
    padding: 8px 1px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 0.9rem;
    font-size: 1.2rem;
    border: 2px solid #d82575;
  }

.Spacing10 {
  margin-top: 10px; /* You can adjust the value to control the amount of spacing */
}

.Spacing20 {
  margin-top: 20px; /* You can adjust the value to control the amount of spacing */
}


.textAccent {
  color: #3c4fff;
}

.logoContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Ensure it takes the full width of its container */
  height: 100px; /* Set the desired height for the logo container */
}

.logoImage {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  max-height: 100%; /* Ensure the image does not exceed the container height */
}

/* Add more styles as needed */
.stakingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabsContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}


.tabsContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.create-stake-tab {
  background: #6a5acd;
  color: white;
  border-radius: 0.9rem;
}

.manage-stakes-tab {
  background: #483d8b;
  color: white;
  border-radius: 0.9rem;
}
